---
import Layout from "../../layouts/Layout.astro"
import Info from "../../components/info.astro"
---
<Layout>
    <main class="pt-[133px]" >
        <section class=" bg-orange-600 w-full h-52 grid place-content-center">
            <h1 class="text-center text-white text-4xl font-bold uppercase" >контакты</h1>
        </section>
	<Info noTitle=true/>
</Layout>