---
import CMSLayout from "../../layouts/CMSLayout.astro"
---

<CMSLayout title="Панель менеджера" who="Панель менеджера">
    <section id="main-managment" class="ml-72 p-4 grid gap-4 grid-cols-4 grid-rows-2">
        <div class="p-24 transition-colors text-center rounded hover:bg-orange-300 hover:cursor-pointer bg-orange-200 flex items-center justify-center">Заяки на звонок</div>
        <div class="p-24 transition-colors text-center rounded hover:bg-orange-300 hover:cursor-pointer bg-orange-200">Заявки на подключение</div>
        <div class="p-24 transition-colors text-center rounded hover:bg-orange-300 hover:cursor-pointer bg-orange-200">Быстрое подключение</div>
    </section>
</CMSLayout>
