---
import CMSLayout from "../../layouts/CMSLayout.astro"
---

<CMSLayout title="Панель администратора" who="Панель администратора">
    <section id="main-admin" class="ml-72 p-4 grid gap-4 grid-cols-4 grid-rows-2">
        <div class="p-24 transition-colors text-center rounded hover:bg-orange-300 hover:cursor-pointer bg-orange-200">Управление контентом</div>
        <div class="p-24 transition-colors text-center rounded hover:bg-orange-300 hover:cursor-pointer bg-orange-200">Страница менеджера</div>
        <div class="p-24 transition-colors text-center rounded hover:bg-orange-300 hover:cursor-pointer bg-orange-200">Управление пользователями</div>
    </section>
</CMSLayout>