---
import Layout from "../../layouts/Layout.astro"
---

<Layout page="3">
    <main class="pt-[133px]" >
        <section class=" bg-orange-600 w-full h-52 grid place-content-center">
            <h1 class="text-center text-white text-4xl font-bold uppercase" >вопросы? ответы</h1>
        </section>
        <section class="grid gap-12 place-content-center py-4">
           <div class="flex flex-col gap-4 justify-start w-[100ch]">
                <div>
                    <h2 class="font-bold text-2xl flex gap-6 items-end hover:opacity-75 hover:cursor-pointer mb-4"><span class="text-4xl w-4">+</span>Где и как оплатить интернет?</h2>
                    <p class="text-start ml-10 hidden" >
                        Вы можете оплатить счет за интернет/ТВ банковской картой:
                        <br>
                        <br>
                        1. В Вашем личном кабинете
                        Для того, чтобы попасть в личный кабинет, Вам необходимо зайти на сайт elka-telecom.ru в раздел «Оплатить». Если Вы забыли данные для входа в ЛК, запросить их можно у менеджера, позвонив по номеру 50-10-10 или написав на whatsapp +79635715010.
                        <br>
                        <br>
                        2. В офисе
                        Оплата в офисе производится наличными.
                        <br>
                        <br>
                        3. В приложение Сбербанк Онлайн
                        Для этого Вам необходимо войти в Сбербанк Онлайн
                        а) Выбрать в меню «ПЛАТЕЖИ И ПЕРЕВОДЫ»
                        б) Выбрать в списке «ДОМ»
                        в) Выбрать пункт «ИНТЕРНЕТ, ТВ, домашний телефон»
                        г) Выбрать провайдера «ЕЛКАТЕЛЕКОМ» (в поисковой строке написать елкателеком – одним словом и нажать поиск)
                        д) Заполнить все имеющиеся поля и оплатить (лицевой счет, он же номер договора и сумма к оплате).
                        <br>
                        <br>
                        4. По реквизитам
                        Реквизиты «ЕлкаТелеком»:
                        ООО «АлтайТелеком»
                        р/с 40702810402000006156
                        к/с 30101810200000000604
                        ИНН 2225155381
                        Банк Алтайское отделение N8644 ПАО Сбербанк, г. Барнаул
                        БИК 040173604
                        Б) ФИО Абонента и номер договора (он же лицевой счет)
                    </p>
                </div>
                  <div>
                    <h2 class="font-bold text-2xl flex gap-6 items-end hover:opacity-75 hover:cursor-pointer mb-4"><span class="text-4xl w-4">+</span>Как подключить ТВ?</h2>
                    <p class="text-start ml-10 hidden" >
                       Мы предоставляем телевидение по приложению «Смотрёшка». Подключить ТВ Вы можете через функцию СМАРТ или приставку.
                        <br>
                        <br>
                        Инструкция для SMART TV:
                        1. Войти на телевизоре в Smart TV
                        2. Войти в раздел доступных к установке приложений (в зависимости от модели телевизора могут называться по-разному — все приложения, доступные приложения, apps, play market и тд).
                        3. Найти приложение «Смотрешка» (на некоторых смарт тв может отсутствовать) либо среди доступных, либо воспользоваться поиском, установить и запустить приложение Смотрешка.
                        4. Ввести логин / пароль
                        (Логин и пароль Вы можете запросить у менеджера, позвонив по номеру 50-10-10 или написав на whatsapp +79635715010)

                        <br>
                        <br>
                        Если на Вашем телевизоре отсутствует функция СМАРТ, подключить ТВ Вы можете через приставку. Приставка должна быть на android.
                    </p>
                </div>
                <div>
                    <h2 class="font-bold text-2xl flex gap-6 items-end hover:opacity-75 hover:cursor-pointer mb-4"><span class="text-4xl w-4">+</span>Как узнать баланс?</h2>
                    <p class="text-start ml-10 hidden" >
                       Проверить баланс Вы можете самостоятельно в Вашем личном кабинете на странице "ОПЛАТА".
                    </p>
                </div>
                <div>
                    <h2 class="font-bold text-2xl flex gap-6 items-end hover:opacity-75 hover:cursor-pointer mb-4"><span class="text-4xl w-4">+</span>Как проверить скорость интернета?</h2>
                    <p class="text-start ml-10 hidden" >
                      Для проверки скорости интернет-соединения:
<br>
<br>
1. Переключите кабель с роутера (запомните из какого разъема отключаете кабель) в компьютер или ноутбук. Если Вы не используете Wi-Fi роутер, то переходите к шагу 2.
<br>
2. Перейдите по ссылке https://www.speedtest.net/ by Ookla - Глобальная проверка скорости
<br>
3. После загрузки сайта нажмите кнопку "Начать проверку" ("Begin test")
<br>
4. Сервис автоматически определит скорость получения и скорость передачи
<br>

5. Сравните результаты измерений со значениями скорости по Вашему тарифу. Если Ваша скорость ниже заявленной в тарифе, обратитесь в службу технической поддержки по телефону 50-10-10 добав. 2
                    </p>
                </div>
                 <div>
                    <h2 class="font-bold text-2xl flex gap-6 items-end hover:opacity-75 hover:cursor-pointer mb-4"><span class="text-4xl w-4">+</span>Как приостановить интернет?</h2>
                    <p class="text-start ml-10 hidden" >
                    Вы можете приостановить оказываемую услугу на любой срок. Если Вы планируете не пользоваться интернетом более 10 календарных дней подряд, Вы имеете право получить перерасчет абонентской платы, исходя из фактического количества дней пользования услугами в течение календарного месяца. Для осуществления перерасчета Вам необходимо уведомить Оператора до наступления даты, с которой Вам будет приостановлено оказание услуг.
Для приостановки услуг Вам необходимо связаться с менеджером, позвонив по номеру 50-10-10 или написав на whatsapp +79635715010.
                    </p>
                </div> 
                <div>
                    <h2 class="font-bold text-2xl flex gap-6 items-end hover:opacity-75 hover:cursor-pointer mb-4"><span class="text-4xl w-4">+</span>Какое оборудование потребуется для подключения интернета?</h2>
                    <p class="text-start ml-10 hidden" >
                   При подключении интернета мы предоставляем Вам стандартное оборудование (оптический терминал). От оптического терминала Вы можете подключить компьютер или ноутбук по кабелю (до 4х устройств).
<br>
<br>
Также оптический терминал имеет стандартный сигнал Wi-Fi. Для расширения зоны покрытия Wi-Fi нужен дополнительный роутер (маршрутизатор). Наши специалисты могут помочь Вам подобрать оборудование. 
                    </p>
                </div>         
                <script is:inline>
                    const array = document.querySelectorAll("h2")
                    array.forEach((item) => {
                        item.addEventListener("click", () => {
                        item.children[0].innerHTML == '+' ? item.children[0].innerHTML = '-' : item.children[0].innerHTML = '+'
                           item.nextElementSibling.classList.toggle('hidden')
                        })
                    })
                </script>
            </div>
           <div>
             <h5></h5>
             <div>
                <a href=""></a><a href=""></a>
             </div>
           </div>
        </section>

    </main>
</Layout>